<div class="description">
  <div class="type">{{type}}</div>
  <ol class="def">
    {{#each def}}
    <li class="def-item">
      {{!-- <span class="def-index">{{this.index}}</span> --}}
      <span class="def-jp">{{this.jp}}</span>
      <span class="def-zh">{{this.zh}}</span>
      <div class="exam">{{{this.exam}}}</div>
      {{#if this.anti}}
      <div class="anti">
        <span class="anti-symbol">反</span>
        {{#each this.anti}}
        <span class="anti-item">{{this}}</span>
        {{/each}}
      </div>
      {{/if}}
      {{#if this.syns}}
      <div class="syns">
        <span class="syns-symbol">類</span>
        {{#each this.syns}}
        <span class="syns-item">{{this}}</span>
        {{/each}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{#if note}}
  <div class="note"><span class="note-symbol">参</span>{{note}}</div>
  {{/if}}
</div>