<div class="{{type}}-list">
  {{#each data}}
  <div class="{{type}}-item">
    {{#if ../showJp}}
    <span class="{{type}}-jp">{{this.jp}}</span>
    {{/if}}
    {{#if ../showZh}}
    <span class="{{type}}-zh">{{this.zh}}</span>
    {{/if}}
  </div>
  {{/each}}
</div>